<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card card-inverse card-primary">
        <input #fileInput type="file" />
        <button type="button" class="btn btn-info" (click)="triggerFile(fileInput)">Upload</button>
      </div>
    </div>
  </div>
  <div *ngFor="let file of files" class="card">
    <div class="card-header" role="tab">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">{{file.Title}}</h4>
          <div class="small text-muted">{{file.Description}}</div>
        </a>
      </h5>
    </div>
    <div class="card-block">
        <button type="button" class="btn btn-success" (click)=loadFileURL(file)>Load</button>
    </div>
  </div>


        <div class="card card-inverse card-danger">
            <div class="card-header" role="tab">
              <h5 class="mb-0">
                <a>
                  <h4 class="card-title mb-0">Load your own!</h4>
                </a>
              </h5>
            </div>
            <div class="card-block">
                <form action="https://vertigo-uploader.azurewebsites.net/api/vertigo_upload3r" enctype="multipart/form-data" method="post">
      
                  <div class="form-group">
                    <label for="fileupload">Select vertigo datalogger file to upload</label>
                    <input type="file" name="file" class="form-control-file" id="fileupload">
                  </div>
                  <div class="form-group">
                    <label for="name">Name (Required)</label>
                    <textarea class="form-control" id="name" name="fields[name]" type="text" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="email">Email address (Required)</label>
                    <input name="fields[email]" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="title">Title (Required)</label>
                    <textarea class="form-control" id="title" name="fields[title]" type="text" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="description">Description (Required)</label>
                    <textarea class="form-control" id="description" name="fields[description]" rows="5" type="text" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="url">Youtube Video URL (Optional)</label>
                    <textarea class="form-control" id="url" name="fields[video_url]" type="URL"></textarea>
                  </div>
                   <input type="submit" value="Submit" class="btn btn-success" id="submit"><br>
                  </form>
            </div>
          </div>

</div>