<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contents</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>
                            If this is your first time using vertigo, make sure you do things in order!
                        </p>
                        <h2>What is Vertigo</h2>
                        <ul>
                            <li>Sensors</li>
                            <li>Battery</li>
                            <li>SD Card</li>
                            <li><a href="/#/instructions" (click)="scrollToElement(leds)">LEDs (lights)</a></li>
                            <li>Bluetooth</li>
                        </ul>
                        <h2>Using Vertigo</h2>
                        <ol>
                            <li><a href="/#/instructions" (click)="scrollToElement(insert_remove_sd)">Inserting and removing an SD Card</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(turning_on)">Turning vertigo on</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(format_sd)">Clear and format SD Card</a></li>
                            <li>Connect to bluetooth</li>
                            <li>Calibration</li>
                            <li><a href="/#/instructions" (click)="scrollToElement(logging)">Starting and stopping logging</a></li>
                            <li>Getting files from the SD Card</li>
                            <li><a href="/#/instructions" (click)="scrollToElement(data)">Looking at log data</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(charging)">Charging</a></li>
                        </ol>
                        <h2>Other functions</h2>
                        <ul>
                            <li>Flashing new firmware</li>
                        </ul>
                        <h2>Using the website</h2>
                        <ol>
                            <li>Loading data</li>
                            <li>Viewing Graphs</li>
                            <li>Processing Data</li>
                            <li>Connecting to bluetooth</li>
                            <li>Installing as an application</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" #leds>
                <div class="card-header">
                    <h5 class="card-title">LEDs (Lights)</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Vertigo has a set of Light Emitting Diodes (LEDs) which indicate information about the
                            current status of Vertigo. There are three LEDs on the device. These are Green, Orange and
                            Blue in colour.</p>
                        <img width="80%" src="assets/img/led-annotations.PNG">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" #turning_on>
                <div class="card-header">
                    <h5 class="card-title">Turning vertigo on</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Vertigo has a slide switch on the side of the case which turns it on. Slide it towards
                            the front of the unit to turn on. The unit will flash a green led on the top when it is
                            turned on and hasn't got a GPS
                            position. If plugged in to usb, the switch selects whether Vertigo is powered by USB or
                            Battery.
                        </p>
                        <img width="80%" src="/assets/gifs/turn-on.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" #logging>
                <div class="card-header">
                    <h5 class="card-title">Starting and stopping logging</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Before starting logging, make sure that and SD card has been inserted and, if GPS is
                            needed for the experiment, that a GPS position has been found. Vertigo will stop flashing
                            the green LED once it has found it's GPS position and the green light will stay on solid
                            green.</p>
                        <p>When Vertigo is ready, press the LOG button to begin logging. Note that orange LED
                            lights up solidly indicating that Vertigo is logging.</p>
                        <p>During logging, press the LOG button again to stop. Vertigo can now be powered off, or
                            another logging cycle can begin.</p>

                        <img width="80%" src="/assets/gifs/start-logging.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" #format_sd>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Clear and format SD Card</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <h5>Formatting</h5>

                        <p>Before Vertigo can use the SD card, it must be formatted correctly to be used.
                            Vertigo comes with an SD card, however if it is in the wrong format or you are using a
                            different SD card, you need to
                            format it as FAT32 or exFAT. Follow the instructions here to format it:
                            <a href="https://www.lifewire.com/format-sd-card-using-windows-4128719">
                                https://www.lifewire.com/format-sd-card-using-windows-4128719</a>
                        </p>
                        <h5>Clearing</h5>
                        <p>Once formatted, Vertigo will write calibration and default configuration files to
                            the SD card. If you want to remove any old log files from the SD card, or if you run out of
                            space. Follow the
                            instrutions below to clear the SD card:
                        </p>
                        <p>Whilst vertigo is turned off, press and hold the log button. Turn on vertigo
                            whilst continuing to hold down the button. The orange LED will flash rapidly whilst the SD
                            card is clearing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" #insert_remove_sd>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Inserting and removing SD cards</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>The SD card slot it spring loaded, to insert an SD card, push it until you
                            hear a click and then
                            release. To remove
                            the SD card, use something to push it again until it clicks and then
                            release, the SD card should
                            spring out far
                            enough to pull out.</p>
                        <img width="80%" src="/assets/gifs/sd-card-eject.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #data>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Looking at log data</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown [src]="'/assets/instructions/logdata.md'"></markdown>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12" #charging>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Charging</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown ngPreserveWhitespaces>
                            Charging Vertigo is super easy since the battery charger is built in! You just
                            need a mini-USB cable, and follow these instructions to make sure your Vertigo
                            is fully charged.

                            1. Make sure Vertigo has its battery connected and is powered OFF.
                            2. Connect the mini-USB connector to the USB port.
                            3. The green CHARGE LED can be seen when looking through the power switch next to the USB
                            port.
                            4. When the green CHARGE LED is extinguished, the battery is charged.
                        </markdown>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #faqs>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">FAQs</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown [src]="'/assets/instructions/faq.md'"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>