<p>
    If this is your first time using vertigo, make sure you do things in order!
</p>
<h2>What is Vertigo</h2>
<ul>
    <li>Sensors</li>
    <li>Battery</li>
    <li>SD Card</li>
    <li>LEDs (lights)</li>
    <li>Bluetooth</li>
</ul>
<h2>Using Vertigo</h2>
<ol>
    <li>Insert an SD Card</li>
    <li>Turning vertigo on</li>
    <li>Clear and format SD Card</li>
    <li>Connect to bluetooth</li>
    <li>Calibration</li>
    <li>Starting and stopping logging</li>
    <li>Getting files from the SD Card</li>
</ol>
<h2>Other functions</h2>
<ul>
    <li>Flashing new firmware</li>
</ul>
<h2>Using the website</h2>
<ol>
    <li>Loading data</li>
    <li>Viewing Graphs</li>
    <li>Processing Data</li>
    <li>Connecting to bluetooth</li>
    <li>Installing as an application</li>
</ol>

<h3>LEDs (Lights)</h3>
<p>Vertigo has a set of Light Emitting Diodes (LEDs) which indicate information about the current status of Vertigo.
    There are three LEDs on the device. These are Green, Orange and Blue in colour.</p>

    <img src="assets/img/led-annotations.PNG">

<h3>Turning vertigo on</h3>
<p>Vertigo has a slide switch on the side of the case which turns it on. Slide it towards the front of the unit to turn
    on. The unit will flash a green led on the top when it is turned on and hasn't got a GPS position.

    If plugged in to usb, the switch selects whether Vertigo is powered by USB or Battery.</p>
<img src="/assets/gifs/turn-on.gif">

<h3>Starting and stopping logging.</h3>
<p>Before starting logging, make sure that and SD card has been inserted and, if GPS is needed for the experiment, that
    a GPS position has been found. Vertigo will stop flashing the green LED once it has found it's GPS position and the
    green light will stay on solid green.</p>

<img src="/assets/gifs/start-logging.gif">

<p>The SD card slot it spring loaded, to insert an SD card, push it until you hear a click and then release. To remove
    the SD card, use something to push it again until it clicks and then release, the SD card should spring out far
    enough to pull out.</p>
<img src="/assets/gifs/sd-card-eject.gif">