<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contents</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>
                            If this is your first time using vertigo, make sure you do things in order!
                        </p>
                        <h2>What is Vertigo</h2>
                        <a href="/#/instructions" (click)="scrollToElement(about)">About</a>
                        <h2>Using Vertigo</h2>
                        <ol>
                            <li><a href="/#/instructions" (click)="scrollToElement(insert_remove_sd)">Inserting and
                                    removing an SD Card</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(turning_on)">Turning vertigo on</a>
                            </li>
                            <li><a href="/#/instructions" (click)="scrollToElement(format_sd)">Clear and format SD
                                    Card</a></li>
                            <li>Connect to bluetooth</li>
                            <li>Calibration</li>
                            <li><a href="/#/instructions" (click)="scrollToElement(logging)">Starting and stopping
                                    logging</a></li>
                            <li>Getting files from the SD Card</li>
                            <li><a href="/#/instructions" (click)="scrollToElement(data)">Looking at log data</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(charging)">Charging</a></li>
                        </ol>
                        <h2>Other functions</h2>
                        <ul>
                            <li>Flashing new firmware</li>
                        </ul>
                        <h2>Using the website</h2>
                        <ol>
                            <li><a href="/#/instructions" (click)="scrollToElement(web_load_file)">Loading data</a></li>
                            <li><a href="/#/instructions" (click)="scrollToElement(viewing_graphs)">Viewing Graphs</a>
                            </li>
                            <li><a href="/#/instructions" (click)="scrollToElement(processing_data)">Processing Data</a>
                            </li>
                            <li>Connecting to bluetooth</li>
                            <li>Installing as an application</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" #about>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Vertigo Hardware Capabilities</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown [src]="'/assets/instructions/about.md'"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" #turning_on>
                <div class="card-header">
                    <h5 class="card-title">Turning vertigo on</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Vertigo has a slide switch on the side of the case which turns it on. Slide it towards
                            the front of the unit to turn on. The unit will flash a green led on the top when it is
                            turned on and hasn't got a GPS
                            position. If plugged in to usb, the switch selects whether Vertigo is powered by USB or
                            Battery.
                        </p>
                        <img width="80%" src="/assets/gifs/turn-on.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" #logging>
                <div class="card-header">
                    <h5 class="card-title">Starting and stopping logging</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Before starting logging, make sure that and SD card has been inserted and, if GPS is
                            needed for the experiment, that a GPS position has been found. Vertigo will stop flashing
                            the green LED once it has found it's GPS position and the green light will stay on solid
                            green.</p>
                        <p>When Vertigo is ready, press the LOG button to begin logging. Note that orange LED
                            lights up solidly indicating that Vertigo is logging.</p>
                        <p>During logging, press the LOG button again to stop. Vertigo can now be powered off, or
                            another logging cycle can begin.</p>

                        <img width="80%" src="/assets/gifs/start-logging.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" #format_sd>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Clear and format SD Card</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <h5>Formatting</h5>

                        <p>Before Vertigo can use the SD card, it must be formatted correctly to be used.
                            Vertigo comes with an SD card, however if it is in the wrong format or you are using a
                            different SD card, you need to
                            format it as FAT32 or exFAT. Follow the instructions here to format it:
                            <a href="https://www.lifewire.com/format-sd-card-using-windows-4128719">
                                https://www.lifewire.com/format-sd-card-using-windows-4128719</a>
                        </p>
                        <h5>Clearing</h5>
                        <p>Once formatted, Vertigo will write calibration and default configuration files to
                            the SD card. If you want to remove any old log files from the SD card, or if you run out of
                            space. Follow the
                            instrutions below to clear the SD card:
                        </p>
                        <p>Whilst vertigo is turned off, press and hold the log button. Turn on vertigo
                            whilst continuing to hold down the button. The orange LED will flash rapidly whilst the SD
                            card is clearing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" #insert_remove_sd>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Inserting and removing SD cards</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>The SD card slot it spring loaded, to insert an SD card, push it until you
                            hear a click and then
                            release. To remove
                            the SD card, use something to push it again until it clicks and then
                            release, the SD card should
                            spring out far
                            enough to pull out.</p>
                        <img width="80%" src="/assets/gifs/sd-card-eject.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #data>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Looking at log data</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown [src]="'/assets/instructions/logdata.md'"></markdown>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12" #charging>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Charging</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown ngPreserveWhitespaces>
                            Charging Vertigo is super easy since the battery charger is built in! You just
                            need a mini-USB cable, and follow these instructions to make sure your Vertigo
                            is fully charged.

                            1. Make sure Vertigo has its battery connected and is powered OFF.
                            2. Connect the mini-USB connector to the USB port.
                            3. The green CHARGE LED can be seen when looking through the power switch next to the USB
                            port.
                            4. When the green CHARGE LED is extinguished, the battery is charged.
                        </markdown>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #web_load_file>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Loading Files</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown ngPreserveWhitespaces>
                            Files can be loaded at the top of the page click the browse button. If the file only
                            contains a small section that is of interest, the trim controls can be used to trim the file
                            down to only contain the information you are interested in.
                        </markdown>
                        <img width="80%" src="/assets/gifs/file-load.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #viewing_graphs>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Viewing graphs</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown ngPreserveWhitespaces>
                            Once a file is loaded, you can select the series you want to plot on the graph. The graphs
                            have a lot of inbuilt functionality, you can zoom in on a region, take screenshots, get the
                            value of a particular point and much more. Use the controls in the top right of the graph to
                            turn on features.

                            If that's not enough, the edit graph button in the bottom right corner allows you to
                            customise the graph to your heart's content, as well as export the processed data series as
                            a csv, customise the colours and plot types.
                        </markdown>
                        <img width="80%" src="/assets/gifs/graph-controls.gif">
                        <markdown ngPreserveWhitespaces>
                            Latitude and longitude can also be plotted as a map. Click the map tab at the top. There
                            should be a marker that shows the most recent point in the dataseries as well as showing the
                            full path that vertigo took. You can change the backing map as well so you can see the track
                            overlaid on a map or satellite data.
                        </markdown>
                        <img width="80%" src="/assets/gifs/map-controls.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #processing_data>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Processing Data</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown ngPreserveWhitespaces>
                            At the bottom of the page, there are a range of options for processing the data. You can
                            select from smoothing, integration and differentiation right now, but we're planning to add
                            more!

                            Select a series to process, select what type of processing you want to do and then hit
                            process. The new processed series will be available on the graph.
                        </markdown>
                        <img width="80%" src="/assets/gifs/processing-controls.gif">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12" #faqs>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">FAQs</h5>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <markdown [src]="'/assets/instructions/faq.md'"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>