<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary btn-block" (click)="connect()">{{connected ? "Disconnect":"Connect"}}</button>
      <button type="button" class="btn btn-outline-success btn-block" [disabled]="!connected" (click)="startLogging()">Start Logging</button>
      <button type="button" class="btn btn-outline-info btn-block" [disabled]="!connected" (click)="pauseLogging()">Pause Browser</button>
      <button type="button" class="btn btn-outline-danger btn-block" [disabled]="!connected" (click)="stopLogging()">Stop Logging</button>
      <button type="button" class="btn btn-outline-info btn-block" [disabled]="!connected">Add Tag</button>
      <button type="button" class="btn btn-outline-warning btn-block" [disabled]="!connected">Download</button>

    </div>
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          <div class="propname">
            <span>Acceleration</span>
          </div>
          <div class="prop">
            <div><span><b>X: </b><span>{{ accx | number:'.5' }}</span> m/s<sup>2</sup></span></div>
            <div><span><b>Y: </b><span>{{ accy | number:'.5'}}</span> m/s<sup>2</sup></span></div>
            <div><span><b>Z: </b><span>{{ accz | number:'.5'}}</span> m/s<sup>2</sup></span></div>
          </div>
          <div class="propname">
              <span>Rotational Velocity</span>
            </div>
            <div class="prop">
              <div><span><b>X: </b><span>{{ rotx | number:'.0'}}</span>°/s</span></div>
              <div><span><b>Y: </b><span>{{ roty | number:'.0'}}</span>°/s</span></div>
              <div><span><b>Z: </b><span>{{ rotz | number:'.0'}}</span>°/s</span></div>
            </div>
          <div class="propname">
            <span>Location</span>
          </div>
          <div class="prop">
            <div><span><b>Latitude: </b><span>{{lat| number:'.8'}}</span> Degrees</span></div>
            <div><span><b>Longitude: </b><span>{{lon| number:'.8'}}</span> Degrees</span></div>
            <div><span><b>Altitude: </b><span>{{alt| number:'.2'}}</span> m</span></div>
            <div><span><b>Fix: </b><span>{{fix}}</span></span><span><b>Flags: </b><span>{{flags}}</span></span></div>
          </div>
        </nb-card-body>

      </nb-card>
    </div>
    <div class="col-sm" size="large">
      <live-map></live-map>
    </div>
  </div>
</div>