<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
                    <h2>Connect to a device</h2>
                    
          </h5>
        </div>
        <div class="card-block">
          <div class="bluetooth">
            <button type="button" class="btn btn-outline-primary  w-100 p-3" style="border-radius: 15px;" [disabled]="!supported" (click)="connect()"><i class="fa fa-bluetooth fa-3x" style="margin: 20px;" aria-hidden="true"></i>Connect to a bluetooth device</button>
          </div>
          <br>
          <div class="serial w-100 p-3">
            <button type="button" class="btn btn-outline-secondary w-100 p-3" style="border-radius: 15px;" [disabled]="true" ><i class="fa fa-microchip fa-3x" style="margin: 20px;" aria-hidden="true"></i>Connect to a serial device</button>
          </div>
        </div>
      </div>
      <!--/.card-->

  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0" [innerHTML]="title">Connected Device</h4>
          <div class="small text-muted"></div>
        </a>
      </h5>
    </div>
    <div class="card-block">

    </div>
  </div>
  <!--/.card-->
</div>
