<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card card-inverse card-primary">
        <input #fileInput type="file"  />
        <button type="button" class="btn btn-info" (click)="triggerFile(fileInput)">Upload</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Acceleration</h4>
          <div class="small text-muted">X,Y and Z</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div #mainChart class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
</div>
