<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card card-inverse card-primary">
        <input #fileInput type="file" />
        <button type="button" class="btn btn-info" (click)="triggerFile(fileInput)">Upload</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" (click)="showAccelerationChartData=!showAccelerationChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Acceleration</h4>
          <div class="small text-muted">X,Y and Z</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="showAccelerationChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="accelerationChartData" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" (click)="showWorldReferenceAccelerationChartData=!showWorldReferenceAccelerationChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Acceleration in World Reference Frame</h4>
          <div class="small text-muted">X,Y and Z</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="showWorldReferenceAccelerationChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="worldReferenceAccelerationChartData" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" (click)="showAngularAccelerationChartData=!showAngularAccelerationChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Angular Acceleration</h4>
          <div class="small text-muted">Around X,Y and Z</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="showAngularAccelerationChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="angularAccelerationChartData" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="card">
    <div class="card-header" role="tab" (click)="showWorldReferenceAngularAccelerationChartData=!showWorldReferenceAngularAccelerationChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Angular Acceleration in World Reference Frame</h4>
          <div class="small text-muted">Around X,Y and Z</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="showWorldReferenceAngularAccelerationChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="worldReferenceAngularAccelerationChartData" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="card">
    <div class="card-header" role="tab" (click)="showPositionChartData=!showPositionChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Height</h4>
          <div class="small text-muted">in meters</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="showPositionChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="positionChartData" [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
  <!--<div class="card">
    <div class="card-header" role="tab" (click)="showAccelerationIntegralChartData=!showAccelerationIntegralChartData">
      <h5 class="mb-0">
        <a>
          <h4 class="card-title mb-0">Acceleration, First Integral (Velocity)</h4>
          <div class="small text-muted">X,Y and Z</div>
        </a>
      </h5>
    </div>
    <div class="card-block" [hidden]="!showAccelerationIntegralChartData">
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="accelerationIntegralChartData" [options]="mainChartOptions" [colors]="mainChartColours"
          [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
      </div>
    </div>
  </div>-->
  <!--/.card-->
</div>