<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12">
      <loader (loaded)="onLoaded($event)" (loadedProcessedData)="onProcessedLoaded($event)"
        (loadingProgress)="loading($event)"></loader>
        
      <app-tabs ><!--(click)="map.reload()"-->
        <app-tab [tabTitle]="'Graph'">
          <graph-control-selection [VertigoRawData]="VertigoRawData" [VertigoProcessedData]="VertigoProcessedData"></graph-control-selection>
        </app-tab>
        <app-tab [tabTitle]="'Map'" (selected)="map.reload()">
          <live-map #map [RawData]="VertigoRawData" [lat]="lat" [lon]="lon"></live-map>
        </app-tab>
      </app-tabs>
      <app-tabs><!--(click)="map.reload()"-->
        <app-tab [tabTitle]="'Additional Dataseries'">
          <app-processor [VertigoRawData]="VertigoRawData" (loadedProcessedData)="onProcessedLoaded($event)"></app-processor>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</div>


<div id="nb-global-loader" class="loader" *ngIf="Progress!=100.0">

  <div class="blob blob-0"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
  <p class="cent" style="color: white; text-align: center">Loading: {{Progress}}%</p>
</div>