<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12 h-50">
      <loader (loaded)="onLoaded($event)" (loadedProcessedData)="onProcessedLoaded($event)"
        (loadingProgress)="loading($event)"></loader>
      <div class="row align-items-center no-gutters h-100">
        <a href="#carouselExampleControls" role="button" data-slide="prev" class="col-1 btn btn-primary h-100" >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <div id="carouselExampleControls" class="carousel col-10 h-100" data-wrap="true" data-ride="false"
          data-interval="false">
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <graph-control-selection [VertigoRawData]="VertigoRawData" [VertigoProcessedData]="VertigoProcessedData"></graph-control-selection>
            </div>
            <div #mapDiv class="carousel-item">
              <h1>MAP</h1>
              <live-map [RawData]="VertigoRawData" [lat]="lat" [lon]="lon"></live-map>
            </div>
            <div class="carousel-item">
              <h1>3D View</h1>
            </div>
          </div>
        </div>
        <div class="col-1">
          <a href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="row align-items-center no-gutters">
        <div class="col-1">
          <a href="#carouselExampleControls1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div id="carouselExampleControls1" class="carousel col-10" data-wrap="true" data-ride="false"
          data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="propname">
                <span>Acceleration</span>
              </div>
              <div class="prop">
                <div><span><b>X: </b><span>{{ accx | number:'.5' }}</span> m/s<sup>2</sup></span></div>
                <div><span><b>Y: </b><span>{{ accy | number:'.5'}}</span> m/s<sup>2</sup></span></div>
                <div><span><b>Z: </b><span>{{ accz | number:'.5'}}</span> m/s<sup>2</sup></span></div>
                <div><span><b>Absolute Magnitude: </b><span>{{ acc2 | number:'.5'}}</span> m/s<sup>2</sup></span></div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="propname">
                <span>Rotational Velocity</span>
              </div>
              <div class="prop">
                <div><span><b>X: </b><span>{{ rotx | number:'.0'}}</span>°/s</span></div>
                <div><span><b>Y: </b><span>{{ roty | number:'.0'}}</span>°/s</span></div>
                <div><span><b>Z: </b><span>{{ rotz | number:'.0'}}</span>°/s</span></div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="propname">
                <span>Location</span>
              </div>
              <div class="prop">
                <div><span><b>Latitude: </b><span>{{lat| number:'.8'}}</span> Degrees</span></div>
                <div><span><b>Longitude: </b><span>{{lon| number:'.8'}}</span> Degrees</span></div>
                <div><span><b>Altitude: </b><span>{{alt| number:'.2'}}</span> m</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1">
          <a href="#carouselExampleControls1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="row align-items-center no-gutters">
        <div class="col-1">
          <a href="#carouselExampleControls2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div id="carouselExampleControls2" class="carousel col-10" data-wrap="true" data-ride="false"
          data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">

            </div>
            <div class="carousel-item">

            </div>
            <div class="carousel-item">

            </div>
            <div class="carousel-item">

            </div>
          </div>
        </div>
        <div class="col-1">
          <a href="#carouselExampleControls2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="nb-global-loader" class="loader" *ngIf="Progress!=100.0">

  <div class="blob blob-0"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
  <p class="cent" style="color: white; text-align: center">Loading: {{Progress}}%</p>
</div>